---
- name: Install the virtualenv requirements
  ansible.builtin.dnf:
    name:
      #- python-virtualenv
      - gcc
      - python-devel
      - openssl-devel
      - libffi-devel
    state: present

- name: Install pyOpenSSL and boto in a virtualenv
  ansible.builtin.pip:
    name: "{{ item.name }}"
    state: "{{ item.state | default(omit) }}"
    version: "{{ item.version | default(omit) }}"
    virtualenv: "{{ update_ip_r53_virtualenv_dir }}"
    # This is required for libselinux-python
    virtualenv_site_packages: true
  with_items:
  # Update setuptools
    - name: setuptools
      state: latest
    - name: pyOpenSSL
    - name: boto
    - name: enum34
    - name: ipaddress
    - name: cffi

- name: Use the created virtualenv
  ansible.builtin.set_fact:
    ansible_python_interpreter: "{{ update_ip_r53_virtualenv_dir }}/bin/python"
